<!doctype html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <title>Add a Movie</title>
</head>
<body>
<form action="/movie/add" method="post">
<div>
Movie Name &nbsp;&nbsp;<input type='text' name='title' size='60' maxlength='255' />
</div>
<div>
Year &nbsp;&nbsp;<input type='text' name='year' size='6' maxlength='4' />
</div>
<div>
<input type='submit' value='Add Movie' />
</div>
</form>
</body>
